
.text {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1rem;
    margin-right: 2rem;
}

.title {
    font-size: 1em; /* 40px/16=2.5em */
}

.authors {
    font-size: 0.9em; /* 40px/16=2.5em */
}

   
ol.institutions {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em; /* 40px/16=2.5em */
    counter-reset: item;
    padding-left: 1rem;
    line-height: 0.9rem;
    margin-bottom: 1.25rem;
    margin-right: 2rem;


    }

    .institutions li:before{
        content: counter(item) ".";
        counter-increment: item;
        position: absolute;	
        vertical-align:super;
        font-size:xx-small;
        left: 1rem;
    }

    .institutions li{
        position: relative;
        display: block;
        padding: .0rem 1rem .0rem 1.5rem;
    }


.section {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em; /* 40px/16=2.5em */

    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    border:  none;
}


    .section-one img {
        height: 18rem;
        column-gap: 2rem;
        display: grid | inline-grid;
    }

    .section-two img {
        height: 18rem;
        display: grid | inline-grid;
    }

    .section-three img {
        height: 18rem;
        display: grid | inline-grid;
    }

    .section-four {
        display: grid | inline-grid;
        margin-bottom: 10px;
        text-align: center;
    }

    .section-four img{
        height: 0.9rem;
        margin-right: 0.5rem;
        }